body{
	margin: 0;
	background-image: linear-gradient(to bottom right, blue, gray);
	background-attachment: fixed;
	height: 100%;
	padding: 20px;
}
#whitePawn{
	position: absolute;
	top: 475px;
	left: 30px;
}
#whitePawn1{
	position: absolute;
	top: 475px;
	left: 105px;
}
#whitePawn2{
	position: absolute;
	top: 475px;
	left: 180px;
}
#whitePawn3{
	position: absolute;
	top: 475px;
	left: 255px;
}
#whitePawn4{
	position: absolute;
	top: 475px;
	left: 330px;
}
#whitePawn5{
	position: absolute;
	top: 475px;
	left: 405px;
}
#whitePawn6{
	position: absolute;
	top: 475px;
	left: 480px;
}
#whitePawn7{
	position: absolute;
	top: 475px;
	left: 555px;
}



#whiteKnight{
position: absolute;
	top: 550px;
	left: 105px;
}
#whiteKnight1{
position: absolute;
	top: 550px;
	left: 480px;
}


#whiteBishop{
position: absolute;
	top: 550px;
	left: 180px;
}
#whiteBishop1{
position: absolute;
	top: 550px;
	left: 405px;
}



#whiteKing{
position: absolute;
	top: 550px;
	left: 330px;
}
#whiteQueen{
position: absolute;
	top: 550px;
	left: 255px;
}

#whiteRook{
position: absolute;
	top: 550px;
	left: 30px;
}
#whiteRook1{
position: absolute;
	top: 550px;
	left: 555px;
}
