html {
  min-height: 100%; 
}
body { 
   background-image: linear-gradient(to bottom right, blue, red);
}

.wrapper {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 800px;
}

.sq {
	position: relative;
  display: inline-block;
	height: 96px;
  width: 96px; 
}
.sq:hover {
  cursor: pointer; 
}

.l {
  background-color: pink;
}
.l:hover {
  background-color: yellow; 
}
.d { 
  background-color: brown;
}
.d:hover { 
  background-color: yellow; 
}
.pc { 
  position: absolute; 
  left: 11px;
}

.pcTurn {
  font-weight: bold;
  
}
.pcActive {
  border: 1px solid;
  box-shadow: 5px 10px;
}
.pawn {
  font-size:  70px;
}
.knight {
   font-size:  70px;
}
.bishop { 
  font-size:  70px;
}
.rook {
  font-size:  70px;
}
.queen {
   font-size:  70px;
}
.king {
   font-size:  70px;
}
}